<% if @new_contract %>
  <h1>Welcome to Nous Travallions!</h1>
  <p>On behalf of the team we welcome you to this wonderfull comunity!</p>
<% else %>
  <h1>Thank you so much!</h1>
  <p>We look forward to keep working with you</p>
<% end %>

