<h1>Hello <%= @request.first_name.capitalize %></h1>

<p>You're a few clicks away from starting your journey with us</p>
<br>
<p>Please click here</p>
<br>
 <%= link_to "Let's do this!", email_confirmation_request_url(@request)  %>


