<h1>Hello <%= @request.first_name %></h1>

<p>You're a few clicks away from starting your journey with us</p>
<p>Please click here <%= link_to "Let's do this!", email_confirmation_request_url(@request)  %></p>
