<h1>Please confirm your Request</h1>

<p>In the next 1-10 minutes we will send an email to <strong><%= @request.email %></strong></p>
<p>There you will find the following steps to confirm your request</p>

<p>note: You're request will be disregarded if it's not confirmed by the end of the day (11:59pm)</p>



<% if Rails.env.development? %>
  <%= link_to 'Check the mail preview here', "http://localhost:3000/letter_opener" %>
<% end %>


<% if Rails.env.production? %>
  <%= link_to 'Check the mail preview here', "https://irl-nous-trvlins-no-bg-jobs.herokuapp.com//letter_opener" %>
<% end %>
