<h1>Please confirm your Request</h1>

<p>In the next 1-10 we will send an email to <%= @request.email %></p>
<p>There you will find the following steps to confirm your request</p>

<p>note: You're request will be disregarded if it's not confirmed by the end of the day (11:59pm)</p>
