<h1>Hello <%= @request.first_name %></h1>
<p>Your contract will expire in a week from now, click the following link to renew it</p>
<p><%= link_to 'Let\'s do this!', renewal_confirmation_contract_url(@contract)  %></p>

<!-- comment to push to gh -->
