<h1>Your contract has expired</h1>
<p>Dear <%= @request.first_name.capitalize %></p>
<p>Because of lack of confirmation we are sorry to tell you that your contract has expired. We wish you well and hope you return to Nous Travallions in the near future</p>
